
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1{
  color: red;
}

body{
  background-color: black;
}

h2{
  color: green;
}

.row{
  padding: 1em;
  border: 1px solid red;
  border-color: aqua;
}

.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.imgcont{
  width: 100%;
  object-fit:cover;
}